.cover__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #FFFFFF;
  text-decoration: none;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  aspect-ratio: 1184/740;
}

/** применил cover для растяжения фона блока при его переполнении.
 данное решение предполагает, что при большом объеме текст не будет выходить за рамки фонового изображения
 и блок сохранит свою целостность, а внешние расстояния между фоновым изображением и соседними элементами сохранятся.**/

.cover__link::after {
  content: "";
  background-color: #2A2C2F;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.3;
}

.cover__link:hover::after {
  opacity: 0.8;
}